
/* -------------admin panel styling------------------- */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 20px;
}

section {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #808080;
  color: #ffffff;
}

th, td {
  padding: 5px;
  border: 1px solid #1a1a1a;
}

tbody {
  max-height: 200px;
  overflow-y: auto;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

a button {
  padding: 8px;
  margin: 5px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#heading{
  margin-top: 3%;
}




/* ----------------------------Table vitra ko button------------------ */

.editBtn, .deleteBtn {
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.editBtn {
  background-color: #179bf3;
  color: #fff;
}

.editBtn:hover {
  background-color: #2980b9;
}

.deleteBtn {
  background-color: #fc2811;
  color: #fff;
}

.deleteBtn:hover {
  background-color: #c0392b;
}



/* ---------------------css for Record tables------------------ */


:root {
  --primary-color: #156317;
  --secondary-color: #f4f4f4;
  --table-border: #000000;
}

.todaysRec {
  height: 95vh;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  padding: 20px;
  overflow: hidden; /* Hide any overflow from child elements */
}

.recHeader {
  text-align: center;
}

.recHeader h1 {
  color: var(--primary-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.tableContainer {
  overflow-x: auto;
  max-height: 600px;
}

#recTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  /* table-layout: fixed; Ensure equal width columns */
}

#recTable th,
#recTable td {
  padding: 10px;
  border: 1px solid var(--table-border);
  text-align: center;
}


#recTable th {
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

#recTable tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
}

#recTable tbody tr:hover {
  background-color: #f0f0f0;
}

