.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    top: 20%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30px;
  }
  
  .close {
    color: #e74c3c;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  .form-heading {
    color: #3498db;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .input-group input {
    flex: calc(50% - 20px);
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .radio-group {
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 10px;
  }
  
  .radio-group label {
    margin-right: 50px;

  }
  
  .formBtn {
    margin-left: 5%;
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formBtn:hover {
    background-color: #27ae60;
  }
  

  .loginHeading{
    margin-bottom: 30px;
  }

  #addUserBtn {
    margin-left: 85%;
    padding: 20px 50px;
    border: #1a1a1a;
    border-radius: 30px;
    margin-top: 1%;
    background-color: #008000;
    color: #ffffff;
  }

  #addUserBtn:hover {
    background-color: #01be01;
    color: #ffffff;
  }

 