/* -------------talw ko whole section------------- */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 77px);
    margin: 0;
    overflow: hidden;
    background: url('../img/3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

/* -------------transparent form section-------------   */

.form-box {
    position: absolute;
    top: 55%;
    left: 71%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 490px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.959);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}



.login-as {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    width: 90%;
    margin-left: 8%;
}

button {
    flex: 1;
    height: 40px;
    border-radius: 40px;
    background: #4caf50;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.buttons button.active {
    background: #e6e6e6;
    color : #4caf50;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

}

/* --------------------vitra ko form----------------------- */

.form-container {
    display: none;
    padding: 20px;
    margin-top: 10px;
}
