#date-time {
    font-size: 16px;
    font-weight: bold;
  }

  #logoutLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fce300;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

#logoutLink:hover {
    background-color: #c9b930;
}

body {
    margin: 0;
}

.menu-container {
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 100px;
}

.menu-item {
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.menu-item > img {
    width: 100px;
    height: 100px;
}

.menu-item > p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px; 
}

.homebutton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; 
}

.homebutton img {
    width: 20px; 
    height: 20px;
    margin-right: 5px; 
    fill: white;
}

#logoutLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fce300;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

#logoutLink:hover {
    background-color: #c9b930;
}
